//====================================================================================================
.main {
	position: relative;
	@include adaptiveValue("padding-top", 70, 30);
	position: relative;
	z-index: 2;

	@media (max-width:$mobile) {
		padding-bottom: 30px;
	}

	&__bef {
		content: '';
		position: absolute;
		width: 212px;
		top: 50%;
		left: 0px;

		img {
			max-width: 100%;

			@media (max-width: 1831px) {
				// width: 60%;
				transform: translateX(-80%);
			}
		}


	}

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 212px;
	// 	height: 405px;
	// 	bottom: 110px;
	// 	left: 0;
	// 	background: url(../img/main/main-after.png) no-repeat;
	// 	z-index: 1;

	// 	@media (max-width:$mobile) {
	// 		display: none;
	// 	}
	// }

	&::after {
		content: '';
		position: absolute;
		width: 250px;
		height: 100%;
		top: 50px;
		right: -80px;
		background: url(../img/main/main-beffore.png) no-repeat;
		z-index: 1;

		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__header-top {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__header-social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 30px;

		@media (max-width:$mobile) {
			display: none;
		}

		&-link {
			margin-right: 15px;
			transition: all 0.3s ease 0s;

			&:hover {
				rotate: 360deg;
			}
		}

		img {
			width: 40px;
			height: 40px;
		}
	}

	&__header-tel {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(24, 20);
		transition: all 0.3s ease 0s;
		z-index: 10;

		@media (max-width:$mobile) {
			display: flex;
			flex: 1 1 auto;
			justify-content: flex-end;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&__header-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		z-index: 2;
		position: relative;
	}

	&__header-row-right {
		flex: 0 1 40%;
		position: relative;
		height: 840px;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
			height: 50%;
		}
	}

	&__header-row-right-img {
		content: '';
		position: absolute;
		width: 1150px;
		top: 0;
		left: 0;
		transform: translateX(-20%);

		@media (max-width:$tablet) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__header-row-left {
		flex: 0 1 50%;


		@media (max-width:$tablet) {
			flex: 1 1 auto;
			padding-top: 80px;
		}
	}


	&__header-title {
		font-weight: 800;
		@include adaptiveValue("font-size", 45, 30);
		line-height: math.div(55, 45);
		margin-bottom: 15px;

		span {
			color: $blueColor;
		}
	}

	&__header-subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(24, 20);
		margin-bottom: 25px;
	}

	&__header-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("margin-bottom", 35, 20);
	}

	&__header-list-item {
		width: 300px;
		display: flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(18, 15);
		margin-right: 30px;

		@media (max-width:$mobile) {
			width: 100%;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-icon {
			max-width: 100px;
			margin-right: 12px;
		}

		&:last-child {
			margin-right: 0;
		}

		img {
			margin-right: 10px;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.header {

	&__menu {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;

		@media (max-width:$mobile) {
			justify-content: flex-start;
		}


	}
}

.menu {

	&__body {

		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 52px;
			left: -100%;
			overflow: auto;
			background: rgb(11 166 190);
			box-shadow: none;
			padding: 40px 20px;
			z-index: 4;
			transition: all 0.3s ease 0s;

			.menu-open & {
				left: 0;
			}

			&::before {
				content: '';
				position: absolute;
				position: fixed;
				height: 70px;
				width: 100%;
				top: 0px;
				left: 0;
				z-index: 50;
			}
		}
	}


	&__list {
		display: flex;
		align-items: center;

		@media (max-width:$mobile) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__item {
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		margin-right: 30px;
		transition: all 0.3s ease 0s;

		@media (max-width:$mobile) {
			margin-right: 0;
			margin-bottom: 20px;
			font-size: 20px;
			color: #fff;
		}

		&:hover {
			opacity: 0.8;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}


//========================================================================================================================================================
.main {

	&__item {
		padding: 30px 60px;
		display: flex;
		flex: 0 1 auto;
		margin: 0 10%;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(180deg, #00718F 0%, #0BA5BE 100%);
		box-shadow: 0px 4px 30px #013F4E;
		border-radius: 10px;
		color: #fff;
		transform: translateY(-132px);
		flex-wrap: wrap;
		z-index: 3;
		position: relative;

		@media (max-width:$tablet) {
			margin: 0 5%;
			transform: translateY(0px);
			justify-content: center;
			// margin: 0;
			margin-top: 50px;
		}
	}

	&__item-card {
		display: flex;
		flex: 1 1 33.333%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-icon {
			width: 170px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 8px;

			@media (max-width:$mobile) {
				height: auto;
				width: 100%;
			}
		}

		@media (max-width:$mobile) {
			flex: 1 1 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		img {
			width: 70px;
			height: 70px;
			margin-bottom: 18px;
		}

		span {
			text-align: center;
			font-weight: 600;
			font-size: 17px;
			@include adaptiveValue("font-size", 17, 14);
			line-height: math.div(21, 14);
			// text-transform: uppercase;
			color: #FFFFFF;
			margin-top: 5px;
		}
	}
}

// service ====================================================================================================
.service {
	margin-top: -200px;
	background: rgba(230, 223, 218, 0.54);
	position: relative;
	@include adaptiveValue("padding-top", 104, 40);
	@include adaptiveValue("padding-bottom", 170, 40);

	&-pc {
		@media (max-width:$tablet) {
			display: none;
		}
	}


	&-mobile {
		display: none;

		@media (max-width:$tablet) {
			display: block;
			margin-top: 60px;
		}
	}

	&:after {
		content: '';
		position: absolute;
		width: 500px;
		height: 500px;
		top: -130px;
		right: 0;
		background: url(../img/service/service-afаter.png) no-repeat;
		z-index: -1;
	}

	@media (max-width:$tablet) {
		margin-top: 40px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__card {
		position: relative;
		flex: 0 1 32%;
		display: flex;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		margin-bottom: 30px;
		transition: all 0.3s ease 0s;

		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 10px;
			bottom: 0;
			left: 0;
			background-color: #013f4e;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			transition: width 0.8s ease 0s;
		}

		&:last-child:before {
			height: 0px;
		}



		&:hover:before {
			width: 100%;
		}

		@media (max-width:$mobile) {
			min-height: 275px;
			align-items: flex-start;
		}

		&-new {
			position: relative;

			@media (max-width:$tablet) {
				display: none;
			}
		}

		&:hover {
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
			transform: translateY(-5px);
		}

		&:last-child {
			margin-bottom: 0;

		}

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__card-left {
		@media (max-width:$mobile) {
			width: 100%;
		}
	}

	&__card-left-img {
		@media (max-width:$mobile) {
			width: 100%;
			object-fit: cover;
		}

		img {
			border-radius: 10px;

			@media (max-width:$mobile) {
				width: 100%;
			}
		}
	}

	&__card-right {
		@media (max-width:$mobile) {
			position: absolute;
			width: 100%;
			// height: 100%;
			bottom: 0%;
			left: 0;
			// transform: translateY(-25%);
		}
	}

	&__card-right-content {
		margin: 15px;
	}

	&__card-right-content-title {
		font-weight: 800;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(24, 20);
		@include adaptiveValue("padding-bottom", 25, 15);

		@media (max-width:$mobile) {
			text-align: center;
		}
	}

	&__card-right-content-line {
		width: 100%;
		height: 3px;
		background-color: #0BA5BE;
		@include adaptiveValue("margin-bottom", 30, 15);
	}

	&__card-right-content-btn {
		padding: 16px 20px;
		font-weight: 600;
		text-align: center;
		font-size: 13px;
		line-height: math.div(16, 13);
		color: #FFFFFF;

	}

	&__card-img-new {
		position: absolute;
		top: -160px;
		left: 0;

		@media (max-width:$mobile) {
			display: none;
		}
	}
}

// about ========================================================================================================================================================
.about {
	@include adaptiveValue("padding-top", 104, 40);
	@include adaptiveValue("padding-bottom", 220, 40);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 702.19px;
		height: 100%;
		top: -20%;
		left: 0;
		background: url(../img/about/about-beffore.png) no-repeat;
		z-index: -1;

		@media (max-width:$tablet) {
			filter: blur(50px);
		}
	}

	&::after {
		content: '';
		position: absolute;
		width: 800px;
		height: 751px;
		top: 0%;
		right: -514px;
		background: url(../img/about/about-affter.png) no-repeat;
		z-index: -1;

		@media (max-width:$tablet) {
			filter: blur(50px);
		}
	}

	&__row {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left {
		flex: 0 1 48%;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__left-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__right {
		flex: 0 1 48%;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__right-img {
		max-width: 690px;
		transition: filter 0.3s ease 0s;

		&:hover {
			filter: saturate(50%);
		}

		img {
			width: 100%;
			height: auto;
			z-index: 1;
		}
	}
}

//========================================================================================================================================================

.special {
	position: relative;

	@media (max-width:$tablet) {
		padding: 40px 0;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__left {
		flex: 0 1 48%;
		height: 426px;
		position: relative;

		@media (max-width:$tablet) {
			display: none;
		}
	}

	&__left-img {
		position: absolute;
		width: 680px;
		height: 569px;
		top: 0;
		left: 0;
		transform: translateY(-144px);

		img {
			width: 100%;
		}
	}

	&__right {
		flex: 0 1 48%;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__right-subtitle {
		font-weight: 800;
		@include adaptiveValue("font-size", 30, 26);
		line-height: math.div(37, 30);
		text-transform: uppercase;
		margin-bottom: 5px;

		@media (max-width:$tablet) {
			text-align: center;
		}
	}

	&__right-title {
		@include adaptiveValue("font-size", 50, 32);
		line-height: math.div(61, 50);

		@media (max-width:$tablet) {
			text-align: center;
		}
	}

	&__right-text {
		font-weight: 800;
		@include adaptiveValue("font-size", 30, 24);
		line-height: math.div(37, 30);
		margin-bottom: 25px;

		@media (max-width:$tablet) {
			text-align: center;
		}
	}

	&__right-btn {
		padding: 20px 70px;

		@media (max-width:$tablet) {
			width: 100%;
		}
	}
}

// record ========================================================================================================================================================
.record {
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 100, 40);

	&__slide {
		position: relative;
	}

	&__slide-img {
		width: 392px;
		height: 294px;

		@media (max-width:$mobile) {
			margin: auto;
		}

		img {
			width: 100%;
			height: 100%;
			padding: 27px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 392px;
			height: 294px;
			top: 0;
			left: 0;
			background: url(../img/record/record-ramka.png) no-repeat;

			@media (max-width:$mobile) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}


.swiper {
	overflow: visible !important;
}

.swiper-button-prev,
.swiper-button-next {
	display: block;

	@media (max-width: em(1410)) {
		display: none !important;
	}
}

.swiper-button-prev {
	width: 40px !important;
	height: 40px !important;
	background: #0BA5BE;
	border-radius: 50%;
	left: -50px !important;
	top: 50% !important;

	&:after {
		font-size: 16px !important;
		color: #fff;
	}
}

.swiper-button-next {
	width: 40px !important;
	height: 40px !important;
	background: #0BA5BE;
	border-radius: 50%;
	right: -40px !important;
	top: 50% !important;

	&:after {
		font-size: 16px !important;
		color: #fff;
	}
}

.swiper-pagination {
	display: none;

	@media (max-width: em(1410)) {
		display: block;
		bottom: -30px !important;
	}

	@media (max-width:$mobile) {
		display: block;
		bottom: -30px !important;
	}
}

.swiper-pagination-bullet-active {
	background: $blueColor !important;
}

//========================================================================================================================================================
.work {
	position: relative;
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 100, 40);

	&__row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		border-radius: 20px;
		filter: drop-shadow(0px 4px 30px rgba(0, 113, 143, 0.71));

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 20px;
			background: url(../img/work/work-bg.png) center center/cover no-repeat;
			z-index: -1;
			object-fit: cover;
		}

	}

	&__left {
		flex: 0 1 40%;
	}

	&__left-img {
		width: 578px;
		height: 519px;

		@media (max-width:$tablet) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__right {
		flex: 0 1 55%;
		padding: 30px;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__right-title {
		position: relative;
		font-weight: 700;
		@include adaptiveValue("font-size", 35, 28);
		line-height: math.div(43, 35);
		margin-bottom: 30px;
	}

	&__right-list {}

	&__right-list-item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		span {
			font-weight: 700;
			@include adaptiveValue("font-size", 16, 14);
			line-height: math.div(20, 16);
		}

		img {
			margin-right: 10px;
		}
	}

	&__right-form {
		margin-top: 50px;
	}

	&__right-input {
		background: #D9D9D9;
		border-radius: 10px;
		padding: 20px 30px;
		font-weight: 700;
		font-size: 16px;
		@include adaptiveValue("font-size", 16, 14);
		color: rgba(0, 0, 0, 0.36);
		margin-right: 20px;
		height: 60px;

		@media (max-width:$tablet) {
			margin-bottom: 20px;
			width: 100%;
		}
	}

	&__right-form-button {
		display: inline-flex;
		padding: 20px 30px;
	}
}

// sp
.element-animation {
	/* Скроем элемент в начальном состоянии */
	opacity: 0;
	transform: translateY(20px);
}

.element-animation.element-show {
	opacity: 1;
	transition: all 1.5s;
	transform: translateY(0%);
}

//========================================================================================================================================================
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);



// As is often the case, some devices/browsers need additional code to get CSS to work
// in the most desired way. These mixins are used to quickly drop in hacks for each element
@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}



/* Default styles for the demo buttons */
.button {
	margin: .4em;
	padding: 1em;
	cursor: pointer;
	background: $primaryColour;
	text-decoration: none;
	color: $secondaryColour;
}

/* Wobble Horizontal */
@keyframes wobble-horizontal {
	16.65% {
		transform: translateX(8px);
	}

	33.3% {
		transform: translateX(-6px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-2px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

.wobble-horizontal {
	display: inline-block;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		animation-name: wobble-horizontal;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}